@import "tailwindcss";

@font-face {
    font-family: lexend;
    src: url('/assets/font/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: oswald;
    src: url('/assets/font/Oswald-VariableFont_wght.ttf');
}

@theme {
    --font-lexend: lexend; 
    --font-oswald: oswald;
}